<!DOCTYPE html>
<div th:fragment="preference-table(preferenceTable)" th:assert="${preferenceTable != null}">
    <hr/>
    <p th:text="#{given.preferences}" />
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td th:each="date : ${preferenceTable.getDates()}" th:text="${date.value()}"/>
            </tr>
        </thead>
        <tbody>
            <tr th:each="person : ${preferenceTable.getPersons()}">
                <td th:text="${person.name()}"/>
                <td th:each="date : ${preferenceTable.getDates()}" th:text="${preferenceTable.getPreference(person, date)}"/>
            </tr>
        </tbody>
    </table>
</div>
