<!DOCTYPE html>
<div th:fragment="schedule(schedule)" th:assert="${schedule != null}">
    <div class="container mt-5">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <td colspan="100%">
                    <h4 th:text="#{table.header.suggested.schedule}"/>
                </td>
            </tr>
            <tr>
                <td th:text="#{table.header.date}">
                <td th:text="#{table.header.assigned.doctor}">
            </tr>
            </thead>
            <tbody>
            <tr th:each="date : ${schedule.getDates()}">
                <td th:text="${date.format(#locale)}"/>
                <td th:text="${schedule.get(date).name()}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>
