<!DOCTYPE html>
<div th:fragment="schedule(schedule)" th:assert="${schedule != null}">
    <hr/>
    <p th:text="#{suggested.schedule}" />
    <table>
        <thead>
        <tr>
            <td th:text="#{table.header.date}">
            <td th:text="#{table.header.service}">
        </tr>
        </thead>
        <tbody>
        <tr th:each="date : ${schedule.getDates()}">
            <td th:text="${date.value()}"/>
            <td th:text="${schedule.get(date).name()}"/>
        </tr>
        </tbody>
    </table>
</div>
