<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Scheduler</title>
</head>
<body>

<p th:text="#{file.to.upload}" />
<form method="post" enctype="multipart/form-data">
    <input type="file" name="fileToUpload" />
    <input type="submit" value="OK" name="submit">
</form>

<div th:if="${isError == true && preferenceTable==null}" style="color: red">
    <p th:if="${errorMessageCode != null && errorMessageParams != null}"
       th:text="${#messages.msgWithParams(errorMessageCode, errorMessageParams)}"/>
</div>

<p th:text="#{example.input.datasets}" />
<div th:each="exampleFile: ${T(com.github.jakubtomekcz.doctorscheduler.constant.ExamplePreferenceTableFile).values()}">
    <a th:text="${exampleFile.getFilename()}"
       th:href="'download/' + ${exampleFile.getFilename()}" />
    <br/>
</div>

<div th:if="${preferenceTable != null}">
    <div th:replace="fragments/preference-table :: preference-table(preferenceTable = ${preferenceTable})" />
</div>

<div th:if="${isError == true && preferenceTable!=null}" style="color: red">
    <p th:if="${errorMessageCode != null && errorMessageParams != null}"
       th:text="${#messages.msgWithParams(errorMessageCode, errorMessageParams)}"/>
</div>

<div th:if="${schedule != null}">
    <div th:replace="fragments/schedule :: schedule(schedule = ${schedule})" />
</div>

</body>
</html>